[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stephen Lanham (0s4l)
[access "refs/for/refs/*"]
	read = group user/Stephen Lanham (0s4l)
	push = group user/Stephen Lanham (0s4l)
	label-Code-Review = -2..+2 group user/Stephen Lanham (0s4l)
	label-Verified = -1..+1 group user/Stephen Lanham (0s4l)
	rebase = group user/Stephen Lanham (0s4l)
	removeReviewer = group user/Stephen Lanham (0s4l)
	submit = group user/Stephen Lanham (0s4l)
[access "refs/heads/*"]
	read = group user/Stephen Lanham (0s4l)
	create = group user/Stephen Lanham (0s4l)
	push = +force group user/Stephen Lanham (0s4l)
	pushMerge = group user/Stephen Lanham (0s4l)
[access "refs/tags/*"]
	push = group user/Stephen Lanham (0s4l)
	push = +force group user/Stephen Lanham (0s4l)
